<!-- form.html -->
<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="./sample.css">
        
    </head>
    <body>
        <h2>{{title}}</h2>
        <p>aaaaa<br></p>

        <div class="container">

            
            <a href="#" class="card">
                <div class="touch touch__1"></div>
                <div class="touch touch__2"></div>
                <div class="touch touch__3"></div>
                <div class="touch touch__4"></div>
                <div class="touch touch__6"></div>
                <div class="touch touch__7"></div>
                <div class="touch touch__8"></div>
                <div class="touch touch__9"></div>
                <div class="main">
                    <div class="icon">
                        <img class="img" src="https://pbs.twimg.com/profile_images/1568001848795353088/6IicRRIF_400x400.jpg" alt="">
                    </div>
                    <span class="name">あしざわ - Webクリエイター</span>
                    <span class="account">725 Follow / 15,210 Followers</span>
                    <span class="link text">@ash_creator</span>
                    <span class="comment text">仕事が好きです。<br>CSSが好きです。<br>クリエイティブが大好きです。</span>
                </div>
            </a>
        
            <div class="circle circle_1"></div>
            <div class="circle circle_2"></div>
            <div class="circle circle_3"></div>
            <div class="circle circle_4"></div>
            <div class="circle circle_5"></div>
            <div class="circle circle_6"></div>
            <div class="circle circle_7"></div>
            <div class="circle circle_8"></div>
        
        </div>
        
        <pre>{{message}}</pre>
    </body>
</html>