<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>サンプル</title>
    <link rel="stylesheet" href="static/css/sawano-1.css">
</head>
<body>
    <div class="container">

        <form action="/change1" method="POST">
            名前　<input type="text" name="usernames" ><br><br>

            <div class="button">
                <div class="button__wrapper"></div>
                <div class="button__box"></div>
                <input type="submit" class="button__box" value="ENTRY">
            </div>
        </form>
    
    </div>
    
    
</body>
</html>

