body{
    background : #000 ;
}
.container{
    width : 300px ;
    height : 300px ;
    display : flex ;
    flex-direction : column ;
    justify-content : center ;
    align-items : center ;
    background : #FFF ;
}
.button{
    display : flex ;
    justify-content : center ;
    align-items : center ;
    position : relative ;
    width : 240px ;
    height : 60px ;
    width : 300px ;
    height : 80px ;
    border-radius : 8px ;
    overflow : hidden ;
    background : #fff ;
    text-decoration : none ;
    box-shadow : 0 0 16px rgba(0,0,100,.1) ;
}
.button:not(:last-child){
    margin-bottom : 32px ;
}
.button__text{
    position : relative ;
    z-index : 2 ; 
    font-size : 15px ;
    font-weight : bold ;
    color : #aaa ;
}
.button__materials{
    position : absolute ;
    z-index : 1 ;
    top : 0 ;
    left : 0 ; 
    width : 100% ;
    height : 100% ;
}
.button__materials div{
    position : absolute ;
    width : 8.33% ;
    height : 33.33% ;
}
.button--A .button__materials div{
    top : 0 ;
    left : 0 ;
    transform : scale(0) ;
}
.button--B .button__materials div{
    bottom : 0 ;
    right : 0 ;
}
.button--B{
    background : linear-gradient( 45deg , #983fff , #00e6ff ) ;
}
.button--A .button__materials div::before,
.button--A .button__materials div::after,
.button--B .button__materials div::before,
.button--B .button__materials div::after{
    content : '' ;
    position : absolute ;
    left : 0 ;
    width : 100% ;
    height : 100% ;
}
.button--A .button__materials div,
.button--A .button__materials div::before,
.button--A .button__materials div::after{
    background : #2acbeb ;
    transform : scale(0) ;
}
.button--A .button__materials div::before{
    top : 100% ;
}
.button--A .button__materials div::after{
    top : 200% ;
}
.button--B .button__materials div,
.button--B .button__materials div::before,
.button--B .button__materials div::after{
    background : #FFF ;
}
.button--B .button__materials div::before{
    bottom : 100% ;
}
.button--B .button__materials div::after{
    bottom : 200% ;
}
.button--A:hover .button__materials div,
.button--A:hover .button__materials div::before,
.button--A:hover .button__materials div::after{
    animation-name : materials-A ;
    animation-duration : .2s ;
    animation-fill-mode : forwards ;
}
.button--B:hover .button__materials div,
.button--B:hover .button__materials div::before,
.button--B:hover .button__materials div::after{
    animation-name : materials-B ;
    animation-duration : .4s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__text{
    animation-name : text_color ;
    animation-duration : .4s ;
    animation-delay : .4s ;
    animation-fill-mode : forwards ;
}
.button--A .button__materials div:nth-child(2){ 
    left : calc( 8.33% * 1) ;
    animation-delay : .1s ;
}
.button--A .button__materials div:nth-child(3){ 
    left : calc( 8.33% * 2) ;
    animation-delay : .2s ;
}
.button--A .button__materials div:nth-child(4){ 
    left : calc( 8.33% * 3) ;
    animation-delay : .3s ;
}
.button--A .button__materials div:nth-child(5){ 
    left : calc( 8.33% * 4) ;
    animation-delay : .4s ;
}
.button--A .button__materials div:nth-child(6){ 
    left : calc( 8.33% * 5) ;
    animation-delay : .5s ;
}
.button--A .button__materials div:nth-child(7){ 
    left : calc( 8.33% * 6) ;
    animation-delay : .6s ;
}
.button--A .button__materials div:nth-child(8){ 
    left : calc( 8.33% * 7) ;
    animation-delay : .7s ;
}
.button--A .button__materials div:nth-child(9){ 
    left : calc( 8.33% * 8) ;
    animation-delay : .8s ;
}
.button--A .button__materials div:nth-child(10){ 
    left : calc( 8.33% * 9) ;
    animation-delay : .9s ;
}
.button--A .button__materials div:nth-child(11){ 
    left : calc( 8.33% * 10) ;
    animation-delay : 1s ;
}
.button--A .button__materials div:nth-child(12){ 
    left : calc( 8.33% * 11) ;
    animation-delay : 1.1s ;
}
.button--B .button__materials div:nth-child(2){ 
    right : calc( 8.33% * 1) ;
    animation-delay : .1s ;
}
.button--B .button__materials div:nth-child(3){ 
    right : calc( 8.33% * 2) ;
    animation-delay : .2s ;
}
.button--B .button__materials div:nth-child(4){ 
    right : calc( 8.33% * 3) ;
    animation-delay : .3s ;
}
.button--B .button__materials div:nth-child(5){ 
    right : calc( 8.33% * 4) ;
    animation-delay : .4s ;
}
.button--B .button__materials div:nth-child(6){ 
    right : calc( 8.33% * 5) ;
    animation-delay : .5s ;
}
.button--B .button__materials div:nth-child(7){ 
    right : calc( 8.33% * 6) ;
    animation-delay : .6s ;
}
.button--B .button__materials div:nth-child(8){ 
    right : calc( 8.33% * 7) ;
    animation-delay : .7s ;
}
.button--B .button__materials div:nth-child(9){ 
    right : calc( 8.33% * 8) ;
    animation-delay : .8s ;
}
.button--B .button__materials div:nth-child(10){ 
    right : calc( 8.33% * 9) ;
    animation-delay : .9s ;
}
.button--B .button__materials div:nth-child(11){ 
    right : calc( 8.33% * 10) ;
    animation-delay : 1s ;
}
.button--B .button__materials div:nth-child(12){ 
    right : calc( 8.33% * 11) ;
    animation-delay : 1.1s ;
}
.button .button__materials div:nth-child(1)::before{ 
    animation-delay : .1s ;
}
.button .button__materials div:nth-child(1)::after{ 
    animation-delay : .2s ;
}
.button .button__materials div:nth-child(2)::before{ 
    animation-delay : .2s ;
}
.button .button__materials div:nth-child(2)::after{ 
    animation-delay : .3s ;
}
.button .button__materials div:nth-child(3)::before{ 
    animation-delay : .3s ;
}
.button .button__materials div:nth-child(3)::after{ 
    animation-delay : .4s ;
}
.button .button__materials div:nth-child(4)::before{ 
    animation-delay : .4s ;
}
.button .button__materials div:nth-child(4)::after{ 
    animation-delay : .5s ;
}
.button .button__materials div:nth-child(5)::before{ 
    animation-delay : .5s ;
}
.button .button__materials div:nth-child(5)::after{ 
    animation-delay : .6s ;
}
.button .button__materials div:nth-child(6)::before{ 
    animation-delay : .6s ;
}
.button .button__materials div:nth-child(6)::after{ 
    animation-delay : .7s ;
}
.button .button__materials div:nth-child(7)::before{ 
    animation-delay : .7s ;
}
.button .button__materials div:nth-child(7)::after{ 
    animation-delay : .8s ;
}
.button .button__materials div:nth-child(8)::before{ 
    animation-delay : .8s ;
}
.button .button__materials div:nth-child(8)::after{ 
    animation-delay : .9s ;
}
.button .button__materials div:nth-child(9)::before{ 
    animation-delay : .9s ;
}
.button .button__materials div:nth-child(9)::after{ 
    animation-delay : 1s ;
}
.button .button__materials div:nth-child(10)::before{ 
    animation-delay : 1s ;
}
.button .button__materials div:nth-child(10)::after{ 
    animation-delay : 1.1s ;
}
.button .button__materials div:nth-child(11)::before{ 
    animation-delay : 1.1s ;
}
.button .button__materials div:nth-child(11)::after{ 
    animation-delay : 1.2s ;
}
.button .button__materials div:nth-child(12)::before{ 
    animation-delay : 1.2s ;
}
.button .button__materials div:nth-child(12)::after{ 
    animation-delay : 1.3s ;
}
@keyframes materials-A{
    0%  { transform : scale(0) ; }
    100%{ transform : scale(1) ; }
}
@keyframes materials-B{
    0%  { background : #fff ; }
    100%{ background : transparent; }
}
@keyframes text_color{
    0%  { color : #aaa ; }
    100%{ color : #fff ; }
}
